<%= form_for(@team, :html => { :multipart => true }) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if display_form_field?(:name) %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
  <% end %>
  <% if display_form_field?(:active) %>
    <div class="field">
      <%= f.check_box :active %> <%= f.label :active %>
    </div>
  <% end %>
  <% if display_form_field?(:code) %>
    <div class="field">
      <%= f.label :code %><br />
      <%= f.text_field :code %>
    </div>
  <% end %>
  <% if display_form_field?(:description) %>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  <% end %>
  <% if display_form_field?(:team_logo) %>
    <div class="field">
      <%= f.label :team_logo %> (supported image types: <%= Team::LOGO_CONTENT_TYPES.join(', ') %>)<br />
      <%= f.file_field :team_logo %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
