<%= form_for(@team, :html => { :multipart => true }) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% if can? :manage, @team %>
    <div class="field">
      <%= f.label :code %><br />
      <%= f.text_field :code %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :team_logo %><br />
    <%= f.file_field :team_logo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
