<p>
  <% if @team.team_logo %>

  	<%= image_tag @team.team_logo.url(:medium) %>
	
	<% end %>
</p>

<p>
  <b>Score:</b>
  <%= @team.score %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<% if can? :manage, @team %>
  <p>
    <b>Code:</b>
    <%= @team.code %>
  </p>
<% end %>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>

<% if can? :update, @team %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back', teams_path %>
