<h1>Listing comments</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Author</th>
    <th>Type</th>
    <th>Comment</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= format_date(comment.created_at) %></td>
    <td><%= post_player_name(comment) %></td>
    <td><%= comment.comment_type %></td>
    <td><%= comment.description %></td>
    <td><%= show_link comment %></td>
    <% if can?(:update, comment) %>
      <td><%= edit_link edit_comment_path(comment) %></td>
    <% end %>
    <% if can?(:destroy, comment) %>
      <td><%= destroy_link comment %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can?(:create, Comment) %>
  <%= link_to 'New Comment', new_comment_path %>
<% end %>
