<p>
  <b>Date:</b>
  <%= format_date(@comment.created_at) %>
</p>

<p>
  <b>Author:</b>
  <%= @comment.player_name %>
</p>

<p>
  <b>Type:</b>
  <%= @comment.comment_type %>
</p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>

<% if can?(:update, @comment) %>
  <%= link_to 'Edit', edit_comment_path(@comment) %> |
<% end %>
<%= link_to 'Back', comments_path %>
