<h1>Listing statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.name %></td>
    <td><%= status.description %></td>
    <td><%= show_link status %></td>
    <td><%= edit_link edit_status_path(status) %></td>
    <td><%= destroy_link status %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status', new_status_path %>
