<%= form_for(@infraction, :html => { :multipart => true }) do |f| %>
  <% if @infraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infraction.errors.count, "error") %> prohibited this infraction from being saved:</h2>

      <ul>
      <% @infraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :offender_id %><br />
    <%= teams_select(:infraction, :offender_id) %>
  </div>
  <div class="field">
    <%= f.label :infraction_type_id %><br />
    <%= infraction_types_select %>
  </div>
  <% if action_name =='edit' %>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= statuses_select(:infraction) %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :photo, 'Evidence' %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
