<% witnesses ||= nil %>
  <div class="box">
    <div class="topleft">
    <div class="topright">
      <div>
        <% unless title.blank? %>
          <h4><%= title %>:</h4>
        <% end %>
        <% infractions.each_index do |index| %>
          <% infraction = infractions[index] %>
          <% witness = witnesses[index] unless witnesses.blank? %>
          <p>
            <b><%= type.humanize %>:</b> <%= infraction_related_team(infraction, type) %> (<%= infraction.infraction_type %>)
            <% if witness %>
              <br />
              <% if pending?(witness) && can?(:update, @player) %>
                <%= link_to 'Accept', accept_infraction_witness_path(infraction, witness), 
                  :confirm => 'You are about to accept your role as a witness for this infraction', 
                  :class => 'witness_button' %> | 
                <%= link_to 'Reject', reject_infraction_witness_path(infraction, witness), 
                  :confirm => 'You are about to reject your role as a witness for this infraction', 
                  :class => 'witness_button' %>
              <% else %>
                <b>Status:</b> <%= witness.status %>
              <% end %>
            <% end %>
            <br />
            <%= link_to 'Show', infraction %>
          </p>
        <% end %>
      </div>
    </div>
    </div>
    <div class="bottomleft">
    <div class="bottomright">
    </div>
    </div>
  </div>
