<h1>Listing infractions</h1>
  <% unless current_user.nil? %>
    <%= form_tag({:action => 'index', :controller => 'infractions'}, {:method => 'get'}) do %>
      <p><%= check_box_tag 'show_open' %><%= label_tag 'show_open_only' %></p>
      <p><%= button_to 'Filter' %></p>
    <% end %>
  <% end %>
<table>
  <tr>
    <th>Reporter</th>
    <th>Offender</th>
    <th>Infraction type</th>
    <th>Status</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @infractions.each do |infraction| %>
  <tr>
    <td><%= link_to infraction.reporter, infraction.team %></td>
    <td><%= link_to infraction.offender.name, infraction.offender %></td>
    <td><%= infraction.infraction_type %></td>
    <td><%= infraction.status %></td>
    <td><%= infraction.description %></td>
    <td><%= link_to 'Show', infraction %></td>
    <% if can? :update, infraction %>
      <td><%= link_to 'Edit', edit_infraction_path(infraction) %></td>
    <% end %>
    <% if can? :destroy, infraction %>
      <td><%= link_to 'Destroy', infraction, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Infraction %>
  <%= link_to 'New Infraction', new_infraction_path %>
<% end %>
