<div>
<div class="main_box">
  <div class="main_box_topleft">
  <div class="main_box_topright">
    <div>
       <p>
	  <b>Reporter:</b>
	  <%= @infraction.reporter %>
	</p>

	<p>
	  <b>Offender:</b>
	  <%= @infraction.offender.name %>
	</p>

	<p>
	  <b>Infraction type:</b>
	  <%= @infraction.infraction_type %>
	</p>

	<p>
	  <b>Status:</b>
	  <%= @infraction.status %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @infraction.description %>
	</p>
	<% if @infraction.photo? %>
	<div>
	  <b>Evidence:</b><br />
	  <%= render :partial => 'photo', :locals => { :style => :small } %>
	</div>
	<% end %>
	<%= comments_link %> | <%= witnesses_link %> |
	<% if can? :update, @infraction %>
	  <%= link_to 'Edit', edit_infraction_path(@infraction) %> |
	<% end %>
	<%= link_to 'Back', infractions_path %>  
    </div>
  </div>
  </div>
  <div class="main_box_bottomleft">
  <div class="main_box_bottomright">
  </div>
  </div>
</div>
<div>
  <%= render 'witnesses/witnesses' %>
</div>
<br/>
<div>
  <%= render 'comments/comments' %>
</div>
</div>
