<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @infraction.game.name %>
</p>

<p>
  <b>Player:</b>
  <%= @infraction.player.full_name%>
</p>

<p>
  <b>Team:</b>
  <%= @infraction.team.name %>
</p>

<p>
  <b>Offender:</b>
  <%= @infraction.offender.name %>
</p>

<p>
  <b>Infraction type:</b>
  <%= @infraction.infraction_type.name %>
</p>

<p>
  <b>Status:</b>
  <%= @infraction.status.name %>
</p>

<p>
  <b>Description:</b>
  <%= @infraction.description %>
</p>

<% if(is_admin?) %>
  <%= link_to 'Edit', edit_infraction_path(@infraction) %> |
<% end %>

<%= link_to 'Back', infractions_path %>
