<p>
  <b>Reporter:</b>
  <%= @infraction.reporter %>
</p>

<p>
  <b>Offender:</b>
  <%= @infraction.offender.name %>
</p>

<p>
  <b>Infraction type:</b>
  <%= @infraction.infraction_type %>
</p>

<p>
  <b>Status:</b>
  <%= @infraction.status %>
</p>

<p>
  <b>Description:</b>
  <%= @infraction.description %>
</p>

<% if @infraction.photo? %>
<p>
  <b>Evidence:</b><br />
  <%= render :partial => 'photo', :locals => { :style => :small } %>
</p>
<% end %>

<%= link_to 'Comments', comments_path %> |
<%= link_to 'Witnesses', witnesses_path %> |
<% if can? :update, @infraction %>
  <%= link_to 'Edit', edit_infraction_path(@infraction) %> |
<% end %>
<%= link_to 'Back', infractions_path %>
