<%= form_for(@witness) do |f| %>
  <% if @witness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@witness.errors.count, "error") %> prohibited this witness from being saved:</h2>

      <ul>
      <% @witness.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br />
    <%= action_name == 'edit' ? @witness.player.full_name : players_select(:witness) %>
  </div>
  <% if action_name == 'edit' && can?(:update, @witness) %>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= statuses_select(:witness) %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
