<%= form_for(@witness) do |f| %>
  <% if @witness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@witness.errors.count, "error") %> prohibited this witness from being saved:</h2>

      <ul>
      <% @witness.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :infraction_id %><br />
    <%= f.text_field :infraction_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
