<h1>Listing witnesses</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @witnesses.each do |witness| %>
  <tr>
    <td><%= link_to witness.player.full_name, witness.player %></td>
    <td><%= witness.status %></td>
    <td><%= link_to 'Show', witness %></td>
    <% if can?(:update, witness) %>
      <td><%= link_to 'Edit', edit_witness_path(witness) %></td>
    <% end %>
    <% if can?(:destroy, witness) %>
      <td><%= link_to 'Unassign', witness, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can?(:create, Witness.new(:infraction => @infraction)) %>
  <%= link_to 'New Witness', new_witness_path %>
<% end %>
