<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @witness.player.full_name %>
</p>

<p>
  <b>Status:</b>
  <%= @witness.status %>
</p>


<%= link_to 'Edit', edit_witness_path(@witness) %> |
<%= link_to 'Back', witnesses_path %>
