<p>We wanted to let you know that you have been <%= @action %> as a witness of <%= raw(infraction_details(@infraction)) %>.</p>

<% if @action == :added %>
  <p>
    You can either <%= link_to 'accept', accept_infraction_witness_path(@infraction, @witness, options_for_mail_link) %> or 
    <%= link_to 'reject', reject_infraction_witness_path(@infraction, @witness, options_for_mail_link) %>
    your role as a witness of this infraction.
  </p>
<% end %>

<p>Click <%= link_to 'here', infraction_path(@infraction, options_for_mail_link) %> if you want to see more details about the infraction.</p>