<%= render 'header' %>

<p>We wanted to let you know that you have been <%= @action %> as a witness of <%= infraction_details(@infraction) %>.</p>

<% if @action == :added %>
  <p>
    You can either <%= link_to 'accept', accept_infraction_witness_path(@infraction, @witness, { :only_path => false }) %> or 
    <%= link_to 'reject', reject_infraction_witness_path(@infraction, @witness, { :only_path => false }) %>
    your role as a witness of this infraction.
  </p>
<% end %>

<p>Click <%= link_to 'here', infraction_path(@infraction, { :only_path => false }) %> if you want to see more details about the infraction.</p>

<%= render 'footer' %>