<div id="container" style="overflow:hidden;width:350px">
  <div id="inner" style="overflow:hidden;width: 2000px">
    <table>
    <% unless image.nil? %>
      <tr><td> <%= image_tag image %> </td><td/></tr>
    <% end %> 
    <% unless simple_data.nil? %>
      <% simple_data.each_pair do |key,value| %>
        <tr><td><b><%= key %>:</b></td><td><%= (value) %></td></tr>
      <% end %>
    <% end %>
    </table>
    <table>
      <% unless collection.nil? %>
        <% collection.each_pair do |key,array| %>
          <tr><td><b><%= key %>:</b></td><td/></tr>
          <tr><td></td><td>          
            <ul class='scrollable'>
              <% array.each do |element| %>
                <li><%= raw(element) %></li>
              <% end %>
            </ul>
          </td></tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
