<div id="search">
  <p id="title">Filter players by:</p>
  <%= form_tag(players_path, :method => :get) do %>
    <div id="field">
      Email address: <%= search_field_tag(:email) %>
    </div>
    <div id="field">
      First name: <%= search_field_tag(:name) %>
    </div>
    <div id="field">
      Last names: <%= search_field_tag(:last_names) %>
    </div>
    <div id="submit">
      <%= submit_tag 'Filter' %> or
      <%= link_to 'Show all', players_path %>
    </div>
  <% end %>
</div>
