<%= form_for(@player, :html => { :multipart => true }) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_names %><br />
    <%= f.text_field :last_names %>
  </div>
  <%= f.hidden_field :user_id %>
  <% if can? :manage, @player %>
    <div class="field">
      <%= f.label :team_id %><br />
      <%= teams_select(:player, :team_id, { :admin => (user_signed_in? && current_player.is_admin?) }) %>
    </div>
    <div class="field">
      <%= f.label :is_admin %><br />
      <%= f.check_box :is_admin %>
    </div>
    <div class="field">
      <%= f.label :active %><br />
      <%= f.check_box :active %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :avatar %> (supported image types: <%= Player::AVATAR_CONTENT_TYPES.join(', ') %>)<br />
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
