<%= form_for(@player, :html => { :multipart => true }) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if display_form_field?(:name) %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
  <% end %>
  <% if display_form_field?(:last_names) %>
    <div class="field">
      <%= f.label :last_names %><br />
      <%= f.text_field :last_names %>
    </div>
  <% end %>
  <% if display_form_field?(:team_id) %>
    <div class="field">
      <%= f.label :team_id %><br />
      <%= teams_select(:player, :team_id, { :admin => (user_signed_in? && current_player.is_admin?) }) %>
    </div>
  <% end %>
  <% if display_form_field?(:is_admin) %>
    <div class="field">
      <%= f.check_box :is_admin %> <%= f.label :is_admin %>
    </div>
  <% end %>
  <% if display_form_field?(:active) %>
    <div class="field">
      <%= f.check_box :active %> <%= f.label :active %>
    </div>
  <% end %>
  <% if display_form_field?(:avatar) %>
    <div class="field">
      <%= f.label :avatar %> (supported image types: <%= Player::AVATAR_CONTENT_TYPES.join(', ') %>)<br />
      <%= f.file_field :avatar %>
    </div>
  <% end %>
  <h2>Notification settings</h2>
  <% if display_form_field?(:notify_witness_add) %>
    <div class="field">
      <%= f.check_box :notify_witness_add %> Notify me when I'm added as a witness of an infraction
    </div>
  <% end %>
  <% if display_form_field?(:notify_witness_remove) %>
    <div class="field">
      <%= f.check_box :notify_witness_remove %> Notify me when I'm removed as a witness of an infraction
    </div>
  <% end %>
  <% if display_form_field?(:notify_infraction_add) %>
    <div class="field">
      <%= f.check_box :notify_infraction_add %> Notify me when an infraction is reported against my team
    </div>
  <% end %>
  <% if display_form_field?(:notify_infraction_update) %>
    <div class="field">
      <%= f.check_box :notify_infraction_update %> Notify me when an infraction against my team is updated
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
