<%
  player_infractions ||= @player_infractions
  witnesses ||= @witnesses
  pending_witnesses ||= @pending_witnesses
  accepted_witnesses ||= @accepted_witnesses
  rejected_witnesses ||= @rejected_witnesses
%>

<% if player_infractions.any? || witnesses.any? %>
<div class="detail_box">
  <div id="accordion">
  <% if player_infractions.any? %>
    <h4>Infractions reported by this player</h4>
    <div>
      <%= render :partial => 'infractions/list', :locals => {
        :infractions => player_infractions[0..MAX_INFRACTIONS_PER_DETAILS_SECTION],
        :type => 'offender'
      } %>
      <p class="show_more_group">
        <%= link_to('Show me more...',
            infractions_path(:infraction => { :player_id => @player.id })
          ) if player_infractions.size > MAX_INFRACTIONS_PER_DETAILS_SECTION %>
      </p>
    </div>
  <% end %>

  <% if pending_witnesses.any? %>
    <h4>This player has been requested as a witness of the following infractions</h4>
    <div>
      <% pending_witnesses_infractions = pending_witnesses.map { |witness| witness.infraction } %>
      <%= render :partial => 'infractions/list', :locals => {
        :infractions => pending_witnesses_infractions[0..MAX_INFRACTIONS_PER_DETAILS_SECTION],
        :witnesses => pending_witnesses[0..MAX_INFRACTIONS_PER_DETAILS_SECTION],
        :type => 'offender'
      } %>
      <p class="show_more_group">
        <%= link_to('Show me more...',
            infractions_path(:infraction => { :witnesses => { :player => @player, :status => Status.pending } })
          ) if pending_witnesses_infractions.size > MAX_INFRACTIONS_PER_DETAILS_SECTION %>
      </p>
    </div>
  <% end %>

  <% if accepted_witnesses.any? %>
    <h4>This player is a witness of these infractions</h4>
    <div>
      <% accepted_witnesses_infractions = accepted_witnesses.map { |witness| witness.infraction }%>
      <%= render :partial => 'infractions/list', :locals => {
        :infractions => accepted_witnesses_infractions[0..MAX_INFRACTIONS_PER_DETAILS_SECTION],
        :type => 'offender'
      } %>
      <p class="show_more_group">
        <%= link_to('Show me more...',
            infractions_path(:infraction => { :witnesses => { :player => @player, :status => Status.accepted } })
          ) if accepted_witnesses_infractions.size > MAX_INFRACTIONS_PER_DETAILS_SECTION %>
      </p>
    </div>
  <% end %>

  <% if rejected_witnesses.any? %>
    <h4>Player has rejected being a witness of the following infractions</h4>
    <div>

    <% rejected_witnesses_infractions = rejected_witnesses.map { |witness| witness.infraction } %>
    <%= render :partial => 'infractions/list', :locals => {
      :infractions => rejected_witnesses_infractions[0..MAX_INFRACTIONS_PER_DETAILS_SECTION],
      :type => 'offender'
    } %>
      <p class="show_more_group">
        <%= link_to('Show me more...',
            infractions_path(:infraction => { :witnesses => { :player => @player, :status => Status.rejected } })
          ) if rejected_witnesses_infractions.size > MAX_INFRACTIONS_PER_DETAILS_SECTION %>
      </p>
    </div>
  <% end %>

  </div>
</div>

<% end %>

<script>
  $(function() {
    $( "#accordion" ).accordion({ heightStyle: "content" });
  });
</script>

