<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Last names:</b>
  <%= @player.last_names %>
</p>

<p>
  <b>User:</b>
  <%= @player.user.email %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team.name %>
</p>

<p>
<b>Is administrator:</b>
  <%= @player.is_admin %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
