<p>
  <%= image_tag @player.avatar.url( :medium ) %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Last names:</b>
  <%= @player.last_names %>
</p>

<p>
  <b>Email address:</b>
  <%= mail_to @player.user.email %>
</p>

<p>
  <b>Team:</b>
  <%= link_to @player.team.name, @player.team %>
</p>

<% if can? :manage, @player %>
  <p>
    <b>Is administrator:</b>
    <%= @player.is_admin %>
  </p>
  <p>
    <b>Is active:</b>
    <%= @player.active %>
  </p>
<% end %>

<% if can? :update, @player %>
  <%= link_to 'Edit', edit_player_path(@player) %> |
<% end %>
<%= link_to 'Back', players_path %>
