<%= form_for(@suggestion) do |f| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
      <% @suggestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.check_box :anonymous %> Add suggestion as anonymous user
  </div>
  <div class="field">
    <%= f.label :description, 'Suggestion' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :post_type_id, 'Suggestion type' %><br />
    <%= suggestion_types_select %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
