<h1>Suggestions</h1>

<div class="main_box">
  <div>
    <% if @suggestions.empty? %>
      <%= nothing_to_show('suggestions') %>
    <% else %>
      <div class="pagination">
        <div class="page_info">
          <%= page_entries_info @suggestions %>
        </div>
        <%= will_paginate @suggestions %>
      </div>
      <table>
        <tr>
          <th>Type</th>
          <th>Author</th>
          <th>Date</th>
          <th>Status</th>
          <th>Suggestion</th>
        </tr>
        <% @suggestions.each do |suggestion| %>
        <tr>
          <td><%= type_avatar(suggestion) %></td>
          <td><%= post_player_name(suggestion) %></td>
          <td><%= format_date_only(suggestion.created_at) %></td>
          <td><%= suggestion.status %></td>
          <td><%= link_to crop_text(suggestion.description, 70), suggestion, title: "Show me more", alt: 'Show me more' %></td>
          <% if can? :update, suggestion %>
            <td><%= edit_link(edit_suggestion_path(suggestion)) %></td>
          <% end %>
          <% if can? :destroy, suggestion %>
            <td><%= destroy_link(suggestion) %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<p><%= link_to 'New Suggestion', new_suggestion_path %></p>
