<br/>
<div class="main_box">
    <div>
      <p>
        <b>Date:</b>
        <%= format_date(@suggestion.created_at) %>
      </p>

      <p>
        <b>Author:</b>
        <%= post_player_name(@suggestion) %>
      </p>

      <p>
        <b>Type:</b>
        <%= @suggestion.suggestion_type %>
        <%= type_avatar(@suggestion)%>
      </p>

      <p>
        <b>Status:</b>
        <%= @suggestion.status %>
      </p>

      <p>
        <b>Description:</b>
        <%= @suggestion.description %>
      </p>

      <% if can? :update, @suggestion %>
        <%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
      <% end %>
      <%= link_to 'Back', suggestions_path %>
    </div>
</div>
<div>
  <%= render 'comments/comments' %>
</div>
