<!DOCTYPE html>
<html>
  <head>
    <title>Greenathon</title>
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'green_tooltip' %>
      <%= stylesheet_link_tag "green" , :media => "all" %>
      <%= stylesheet_link_tag "green_tooltip" , :media => "all" %>
      <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="header">
      <div id="logo">
        <%= image_tag('avantica_green_small.png') %>
      </div>
      <div id="login_info">
        <% if user_signed_in? && current_user.player %>
          <p>Signed in as <%= current_user.player.full_name %><%= current_player.is_admin ? ' (administrator)' : ''%></p>
          <p>
            <%= link_to 'Manage your account', current_player %> |
            <%= link_to 'Logout', destroy_user_session_path %>
          </p>
        <% else %>
          <p>
          <%= form_for("user", :url => user_session_path) do |f| %>
            Email: <%= f.text_field :email %><br />
            Password: <%= f.password_field :password %><br />
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %><br />
            <%= f.submit 'Sign in' %>
          <% end %>
          </p>
        <% end %>
      </div>
      <div id="main_menu">
        <%= render_navigation %>
      </div>
    </div>
    <div id="main_page">
      <div id="secondary_menu">
        <h3>Quick links</h3>
        <ul>
          <% if user_signed_in? && current_user.player %>
            <li>
              <%= image_tag('infraction_32.png') %>
              <%= link_to('Create infraction', new_infraction_path) %>
            </li>
            <li>
              <%= image_tag('light_32.png') %>
              <%= link_to 'Make a suggestion', new_suggestion_path %>
            </li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
        <h3>Avantica Green</h3>
        <ul>
          <li><%= link_to 'Article 1', root_path %></li>
          <li><%= link_to 'Article 2', root_path %></li>
        </ul>
      </div>
      <div id="content">
        <%= raw(display_flash_messages) %>
        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>
