<!DOCTYPE html>
<html>
  <head>
    <title>Greenathon</title>
      <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
      <%= javascript_include_tag 'application' %>      
      <%= stylesheet_link_tag 'application' , :media => "all" %>
      <%= csrf_meta_tag %>
  </head>

  <body class='<%= params[:controller]%>'>
    <div id="header">
      <div id="logo">
        <%= image_tag('avantica_green_small.png') %>
      </div>
      <div id="secondary_menu">
        <b>Quick links</b>
        <br/>
        <% if user_signed_in? && current_user.player %>
          &nbsp;<%= link_to('Create infraction', new_infraction_path) %>
          <br/>
          &nbsp;<%= link_to 'Make a suggestion', new_suggestion_path %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
        <br/>
        <br/>
        <b>Avantica Green</b>
        <br/>
        &nbsp;<%= link_to '- Calculadora huella de desechos', 'http://www.carbonfootprint.com/calculator.aspx', :target => '_blank' %>
        <br/>
        &nbsp;<%= link_to "- Guia nacional de manejo de residuos", asset_path('guia_desechos.pdf'), :target => '_blank' %>
      </div>
      <div id="login_info">
        <% if user_signed_in? && current_user.player %>
          <p>Signed in as <%= current_user.player.full_name %><%= current_player.is_admin ? ' (administrator)' : ''%></p>
          <p>
            <%= link_to 'Manage your account', edit_player_path(current_user.player) %> |
            <%= link_to 'Logout', destroy_user_session_path %>
          </p>
        <% else %>
          <p>
          <%= form_for("user", :url => user_session_path) do |f| %>
            Email: <%= f.text_field :email %><br />
            Password: <%= f.password_field :password %><br />
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %><br />
            <%= f.submit 'Sign in' %>
          <% end %>
          </p>
        <% end %>
      </div>
      <div id="main_menu">
        <%= render_navigation %>
      </div>
    </div>
    <div id="main_page">
            <div id="content">
        <%= raw(display_flash_messages) %>
        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>
